<!DOCTYPE html>

<html>

<head>
    <Link rel="stylesheet" href="/css/styles.css"></Link>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Andrew Mead. It used data from mapbox.com and weather stack</p>
        <img src="/img/nature.jpeg" class="portrait other" alt="Error">
    </div>
    
    {{>footer}}
</body>

</html>